<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.ndrdevelop.wifipasswords">

    <application
        android:name="com.gmail.ndrdevelop.wifipasswords.extras.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gmail.ndrdevelop.wifipasswords.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gmail.ndrdevelop.wifipasswords.activities.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name="com.gmail.ndrdevelop.wifipasswords.activities.ArchiveActivity"
            android:label="@string/activity_title_hidden_wifi" />
        <activity
            android:name="com.gmail.ndrdevelop.wifipasswords.activities.IntroActivity"
            android:label="@string/activity_title_intro" />
        <activity
            android:name="com.gmail.ndrdevelop.wifipasswords.activities.PasscodeActivity"
            android:label="@string/activity_title_passcode" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="06f213f31a8be7b286366ad575d0b66761422192" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
